.visualizer {
    display: flex;
}

@media screen
    and (orientation: portrait)
    and (max-width: 1366px) {
        .visualizer {
            flex-direction: column;
        }
}

.visualizer {
    flex-direction: row;
}

